
.container{

text-align: center;
background-color: blue;
width: 500px;
padding-top: 100px;
padding-bottom: 100px;
margin: 0 auto;
margin-top: 80px;
border-radius: 6px;
color: white;
transition: transform .5s 
}

.container:hover {
    transform: scale(1.1);
    color: rgb(192, 230, 24);
    font-size: 20px
   
}
